#knife {
  -webkit-transform:rotate(45deg);
  margin:auto; /* Required */
  position:absolute; /* Required */
  bottom:50px; /* Aligns at the bottom */
  left:50px;right:0; /* Aligns horizontal center */
  z-index: 1;
  /*-webkit-animation-name: spinnerRotate;*/
  -webkit-animation-duration: 500ms;
  /*-webkit-animation-delay: 1200ms;*/
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#board {
  margin:auto; /* Required */
  position:absolute; /* Required */
  bottom:0; /* Aligns at the bottom */
  left:0;right:0; /* Aligns horizontal center */
  z-index: 0;
}

#marble {
  margin:auto; /* Required */
  position:absolute; /* Required */
  bottom:-200px; /* Aligns at the bottom */
  left:-200px;right:0; /* Aligns horizontal center */
  z-index: 2;
}

@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(-360deg);
  }
}