#cage {
  margin:auto; /* Required */
  position:absolute; /* Required */
  top:0; /* Aligns at the bottom */
  left:0;right:0; /* Aligns horizontal center */
}

#mouse {
  margin:auto; /* Required */
  position:absolute; /* Required */
  bottom:0; /* Aligns at the bottom */
  left:0;right:0; /* Aligns horizontal center */
  z-index: -1;
}